/* Global style*/
body {
  font-family: "Lato", sans-serif;
}
#root {
  background: #fdf6f6;
}
h3 {
  font-size: 18px;
  font-weight: bold;
}
.main-container {
  min-height: 650px;
}
/* Header*/
.navbar-custom {
  background: #792525;
  margin-bottom: 25px;
}
.navbar-custom .brand {
  color: #fcc810;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 34px;
}
.navbar-custom .brand:hover {
  text-decoration: none;
  opacity: 0.8;
}
.navbar-custom .nav-link {
  color: #fcc810 !important;
  font-family: "Roboto Condensed", sans-serif;
 
}
.navbar-custom .nav-link:hover {
  opacity: 0.8;
}
.navbar-custom .get-started {
  color: #fcc810 !important;
  font-family: "Roboto Condensed", sans-serif;
  border: 1px solid #fcc810;
  border-radius: 3px;
  margin-left: 15px;
}
.navbar-custom .get-started:hover {
  opacity: 0.8;
}
.search-icon{
  color: #fcc810;
  padding: 8px 8px 0 2px;
}
/* Footer*/
.footer {
  color: grey;
  text-align: right;
  padding: 10px;
}

/* Home*/
.meta,
.author {
  display: inline-block;
}
img {
  width: 100%;
  margin-bottom: 15px;
}
.meta,
.description {
  color: grey;
  font-size: 13px;
}
.welcome-card {
  background: #efebd5;
  margin: 50px 0;
}

.number {
  color: gray;
  font-size: 34px;
}

.fa-google{
  color: #4285F4;
  font-size: 20px;
  padding:5px;
}
.fa-twitter{
  color: #0084b4;
  font-size: 25px;
  padding:5px;
}
.fa-facebook{
  color: #4267b2;
  font-size: 25px;
  padding:5px;
}
.btn-auth{
  text-align: left;
  font-size: 16px;
  color: #333;
}
.btn-auth:hover{
border:1px solid #000000;
background: transparent;
color: #000000;
}

.signup-modal{
  background:#ffffff !important;
  opacity:0.8;
}
.signup-modal-body{
  border:none !important; 
}
.signup-modal-header{
  border:none !important; 
}